body   
{
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
}

.modal
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 400px;
    overflow: auto;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.rowParagraph
{
    padding: 14px 0px 0px 10px;
    background-color:#fff;
    clear:both;
}

.colParagraph-1
{
    width: 10%;
    float: left;
}

.colParagraph-2
{
    width: 20%;
    float: left;
}

.colParagraph-3
{
    width: 30%;
    float: left;
}

.colParagraph-4
{
    width: 40%;
    float: left;
}

.colParagraph-5
{
    width: 50%;
    float: left;
}

.colParagraph-6
{
    width: 60%;
    float: left;
}
.colParagraph-7
{
    width: 70%;
    float: left;
}

.paragraphTitle
{
    color:#000;
    font-weight:bold;
}

.paragraphTitleChat
{
    color:#000;
    font-weight:bold;
    margin-left:15px;
}

.paragraphTitlePlus
{
    color:#000;
    font-weight:bold;
}

.paragraphSubTitle
{
    color:#000;
    font-weight:bold;
}

.paragraphSubTitleChat
{
    color:#000;
    font-weight:bold;
    margin-left:15px;
}

.chatNameTitle
{
    color:#000;
    font-weight:bold;
    font-size: 11px;
}
    

.chatStatusTitle
{
    color: #000;
    font-weight: bold;
    margin-left: 15px;
    font-size: 9px;
}

.right
{
    text-align:right;
    margin-right:10px;
}

.rightParagraph
{
    text-align:right;
    margin-right: 40px;
}

.rightFloat
{
    float:right;
}

.leftFloat
{
    float:left;
}

.leftFloat-1
{
    float:left;
    margin-left:5px
}

.leftParagraph
{
    text-align:left;
}

.midParagraph
{
    text-align:center;
}

.paragraphContent
{
    color:#000;
}

.paragraphContentChat
{
    color:#000;
    font-weight: bolder;
}

.paragraphContentPlus
{
    color:#000;
}

.chatMessageContent
{
    color:#000;
    font-weight: normal;
    font-size: 9px;
    padding: 2px 0px 0px 0px;
}

.chatStatusContent
{
    color:#000;
    font-weight: bolder;
    font-size: 9px;
    padding: 0px 0px 0px 0px;
}

.paragraphImage
{
    width: 95%;
    height: auto;
}

.profileImage
{
    width: 100%;
    height: auto;
    max-width: 100px;
    min-width: 30px;
}
/*@media only screen and (min-width: 600px) {*/
        /* For tablets: */
    .container
    {
        
        width:100%;
        height:100%;
        font-size:12px;
    }
    
    /*start content header */
    .header
    {
        position: fixed;
        top: 0px;
        /* bottom: 0px; */
        z-index: 9999;
        padding-top: 7px;
        height: 45px;
        width : 100%;
        background-color:#063058;
    }
    
    .headerBar
    {
        color : #fff;
    }
    
    .back
    {
        margin: 6px 0px 0px 25px;
        object-position: left;
        position: absolute;
        font-size: large;
    }
    
    .iconSetting
    {
        background-repeat:no-repeat;
        background-repeat: no-repeat;
        max-width: 60px;
        max-height: 40px;
        height: 40px;
        background-size: contain;
    }
    
    .iconSettingTimeline
    {
        background-repeat:no-repeat;
        background-repeat: no-repeat;
        max-width: 60px;
        max-height: 40px;
        height: 40px;
        background-size: contain;
        background-image:url('../Styles/Images/account/backIcon.png');
    }
    
    .titleOnstore
    {
        text-align: center;
        margin-top: -57px;
        color: #fff;
        font-size: large;
    }
    
    .titleOnstore.fixed
    {
        background-size: 140px 34px;
        height: 40px;
    }
    
    .logoOnstore
    {
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        height: 40px;
        margin-top: -38px;
    }
    .logoOnstore.fixed
    {
        background-size: 140px 34px;
        height: 40px;
    } 
    
    /*end content header */
    
    /*start main Content */
    .body
    {
        
        height: 80%; 
        width: 100%; 
        margin-top: 5px; 
         
    }
    .bodyHeader
    {
        width : 100%;
        height: 10%;
        overflow: auto;
        margin-left: -8px;
        margin-top:50px;
    }
    
    .bodyHeader a
    {
        float: left;
        width: 33%;
        text-align: center;
        padding: 5px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 32px;        
    }
    
    .bodyHeaderAccount
    {
        width : 100%;
        height: 10%;
        overflow: auto;
        max-width: 100%;
        margin-left: 0px;
        margin-top:50px;
        background-repeat:no-repeat;
        background-size:cover;
    }
    
    .bodyHeaderSettingAccount
    {
        width: 95%;
        height: 10%;
        overflow: auto;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .bodyHeaderAccountPoint
    {
        width : 100%;
        height: 10%;
        overflow: auto;
        max-width: 100%;
        margin-left: 0px;
        margin-top:50px;
        background-repeat:no-repeat;
        background-size:cover;
    }
    
    .bodyHeaderAccountTop
    {
        text-align : center;
        padding: 0px 0px 10px 0px;   
    }
    
    .profilName
    {
        color:#fff;
        font-size: 16px;
        font-weight:bold;
    }
    
    .profilGrade
    {
        color:#afafaf;
        font-size:10px;
    }
    
    .profilStatus
    {
        color:#fff;
        font-size: 12px;
    }
    
    .profilPicture
    {
        display:block;
        margin: 50px auto 10px auto;
        width: 13%;
        max-width: fit-content;
        background-position-x:center;
        background-position-y:center;
    }
    
    .trophyTimelineIcon
    {
        max-width: 100%;
        max-height: 100%;
        background-image: url('../Styles/Images/account/timeline_pointIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 35px;
        width: 31px;
        background-position: center center;
        cursor: pointer;
    }
    
    .postthreadTimelineIcon
    {
        max-width: 100%;
        max-height: 100%;
        background-image: url('../Styles/Images/account/timeline_savethreadIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 35px;
        width: 31px;
        background-position: center center;
        cursor: pointer;
    }
    
    .walletTimelineIcon
    {
        max-width: 100%;
        max-height: 100%;
        background-image: url('../Styles/Images/account/timeline_walletIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 35px;
        width: 31px;
        background-position: center center;
        cursor: pointer;
    }
    
    .trophyPoints
    {
        max-width: 100%;
        max-height: 100%;
        background-image: url('../Styles/Images/account/account_pointsIcon2.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 35px;
        width: 31px;
        background-position: center center;
        cursor: pointer;
    }
    
    .walletPoints
    {
        max-width: 100%;
        max-height: 100%;
        background-image: url('../Styles/Images/account/account_walletIcon2.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 35px;
        width: 31px;
        background-position: center center;
        cursor: pointer;
    }
    
    .friendsIcon
    {
        max-width: 100%;
        max-height: 100%;
        background-image: url('../Styles/Images/account/chat_friendsIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 35px;
        width: 31px;
        background-position: center center;
        cursor: pointer;
    }
    
    .friendsIcon:hover
    {
        background-image: url('../Styles/Images/account/chat_friendsIconActive.png');
    }
    
    .activeFriends
    {
        background-image: url('../Styles/Images/account/chat_friendsIconActive.png');
    }
        
    .chatIcon
    {
        max-width: 100%;
        max-height: 100%;
        background-image: url('../Styles/Images/account/chat_chatIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 35px;
        width: 31px;
        background-position: center center;
        cursor: pointer;
    }
    
    .chatIcon:hover
    {
        background-image: url('../Styles/Images/account/chat_chatIconActive.png');
    }
    
    .activeChat
    {
        background-image: url('../Styles/Images/account/chat_chatIconActive.png');        
    }
    
    .cartIcon
    {
        max-width: 100%;
        max-height: 100%;
        background-image: url('../Styles/Images/account/shop_cartIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 35px;
        width: 31px;
        background-position: center center;
        cursor: pointer;
    }
    
    .sellItemIcon
    {
        max-width: 100%;
        max-height: 100%;
        background-image: url('../Styles/Images/account/shop_sellItemIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 35px;
        width: 31px;
        background-position: center center;
        cursor: pointer;
    }
    
    .filterCategoryIcon
    {
        max-width: 100%;
        max-height: 100%;
        background-image: url('../Styles/Images/account/shop_filterCategoryIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 35px;
        width: 31px;
        background-position: center center;
        cursor: pointer;
    }
    
    .title
    {
        font-size: 13px;
        position: absolute;
        color: #afafaf;
        max-width:60px;
        margin: 5px 0px 0px 35px;
        font-weight: bold;
    }
    
    .titleTimelineTop
    {
        font-size: 13px;
        position: absolute;
        color: #afafaf;
        max-width:60px;
        margin: -4px 0px 0px 22px;
        font-weight: bold;
    }
    
    .titleTimelineBottom
    {
        font-size: 12px;
        margin: 17px  0px 0px 22px;
        position: absolute;
        color: #007ec1;
        font-weight: bold;
    }
    
    .titleBottomMenuPoint
    {
        font-size: 13px;
        position: absolute;
        color: #fff;
        margin: -4px 0px 0px 22px;
        font-weight: bold;
    }
    
    .pointBottomMenu
    {
        font-size: 15px;
        margin: 17px  0px 0px 22px;
        position: absolute;
        color: #fff;
        font-weight: bold;
    }
    
    .walletBottomMenu
    {
        font-size: 15px;
        margin: 15px  0px 0px 22px;
        position: absolute;
        color: #fff;
        font-weight: bold;
    }
    
    .bodyHeaderTimelineTop
    {
        width : 100%;
        margin-bottom: 50px;
        margin-left: -25px;
    }
    
    .bodyHeaderAccountBottom
    {
        width : 100%;
        margin-bottom: 50px;
        margin-left: -36px;
    }
    
    .bodyHeaderAccountBottom a
    {
        float: left;
        width: 100%;
        text-align: center;
        padding: 5px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 32px;        
    }
    
    .bodyHeaderAccount a
    {
        float: left;
        width: 50%;
        text-align: center;
        padding: 5px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 32px;        
    }
    
    .bodyHeaderSettingAccount a
    {
        float: left;
        width: 50%;
        text-align: center;
        padding: 5px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 32px;        
    }
    
    .bodyHeaderAccountPoint a
    {
        float: left;
        width: 100%;
        text-align: center;
        padding: 5px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 32px;        
    }
    
    .searchContainer
    {
        padding-left: 40px;
        margin-right: 70px;
        position:relative;
    }
    .searchContainer.fixed
    {
        padding-left: 0px;
        margin-right: 105px;
    }
    .searchContainer .searchContainerText
    {
        margin-right: 0px;
        height: 28px;
        margin-top: 10px;
    }
    .searchContainer .searchContainerText #txtSearch
    {
        width: 100%;
        height: 28px;
        border: solid 1px #515151;
        padding-left: 5px;
        padding-right: 35px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .searchContainer .searchContainerButton
    {
        position:absolute;
        right:0px;
        width: 30px;
        height: 28px;
    }
    .searchContainer .searchContainerButton #btnSearch
    {
        width: 28px;
        height: 24px;
        border: none;
        background-image: url('https://images.onstore.co.id/images/newDesign/searchSymbol_small.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
        background-size: 15px 15px;
        margin-top: 4px;
        margin-left: 37px;
    }
    
    .menuMainContent
    {
        width: 100%;
        text-align: center;
        margin : 5px 0px 35px 0px;
    }
    
    .evoucherMenu
    {
        color:#afafaf;
        font-weight:bold;
        cursor:pointer;
    }
       
    .evoucherMenu:hover,
    .evoucherMenu:focus
    {
        color:#007ec1;
    }
    
    .savethreadMenu
    {
        color:#afafaf;
        font-weight:bold;
        cursor:pointer;
    }
        
    .savethreadMenu:hover,
    .savethreadMenu:focus
    {
        color:#007ec1;
    }
    
    .sellitemMenu
    {
        color:#afafaf;
        font-weight:bold;
        cursor:pointer;
    }
    
    .sellitemMenu:hover,
    .sellitemMenu:focus
    {
        color:#007ec1;
    }
    
    .activeMenu
    {
        color:#007ec1;
    }
    
    .point
    {
        padding: 25px 0px 0px 0px;
        margin-bottom: 100px;
    }

    .bodyMainContent
    {
        margin-top:20px;
        padding-left: 10px;
        margin-bottom: 170px;
    }
    
    .contentImage
    {
        background-color: gray;
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }
    
    .voucherIcon
    {
        max-width: 100%;
        max-height: 100%;
        background-image: url(../Styles/Images/account/account_voucherIcon.png);
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 45px;
        width: 45px;
        background-position: center center;
        cursor:pointer;
    }
    
    .activeVoucher
    {
        background-image: url(../Styles/Images/account/account_voucherIconActive.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .voucherIcon:hover,
    .voucherIcon:focus
    {
        background-image: url(../Styles/Images/account/account_voucherIconActive.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto;
        height: 45px;
        width: 45px;
        background-position: center center;
    }
    
    .rewardIcon
    {
        max-width:100%;
        max-height:100%;        
        background-image:url('../Styles/Images/account/account_rewardIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 45px;
        width: 45px;
        background-position: center center;  
        cursor:pointer;      
    }
    
    .activeReward
    {
        background-image: url(../Styles/Images/account/account_rewardIconActive.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .rewardIcon:hover,
    .rewardIcon:focus
    {
        background-image: url(../Styles/Images/account/account_rewardIconActive.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto;
        height: 45px;
        width: 45px;
        background-position: center center;
    }
    
   
    .historyIcon
    {
        max-width:100%;
        max-height:100%;         
        background-image:url('../Styles/Images/account/account_historyIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 45px;
        width: 45px;
        background-position: center center; 
        cursor:pointer;       
    }
    
    .activeHistory
    {
        background-image: url(../Styles/Images/account/account_historyIconActive.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .historyIcon:hover,
    .historyIcon:focus
    {
        background-image: url(../Styles/Images/account/account_historyIconActive.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto;
        height: 45px;
        width: 45px;
        background-position: center center;
    }
    
    .bayarbeliIcon
    {
        max-width:100%;
        max-height:100%;         
        background-image:url('../Styles/Images/account/bayarbeliIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 45px;
        width: 45px;
        background-position: center center; 
        cursor:pointer;       
    }
    
    .topupIcon
    {
        max-width:100%;
        max-height:100%;         
        background-image:url('../Styles/Images/account/topupIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 45px;
        width: 45px;
        background-position: center center; 
        cursor:pointer;       
    }
    
    .debitIcon
    {
        max-width:100%;
        max-height:100%;         
        background-image:url('../Styles/Images/account/debitIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 45px;
        width: 45px;
        background-position: center center; 
        cursor:pointer;       
    }
        
    .transferIcon
    {
        max-width:100%;
        max-height:100%;         
        background-image:url('../Styles/Images/account/transferIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 45px;
        width: 45px;
        background-position: center center; 
        cursor:pointer;       
    }
    
    .ecashIcon
    {
        max-width:100%;
        max-height:100%;         
        background-image:url('../Styles/Images/account/mandiriEcashIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 45px;
        width: 75px;
        background-position: center center; 
        cursor:pointer;       
    }
    
    .callUsIcon
    {
        max-width:100%;
        max-height:100%;         
        background-image:url('../Styles/Images/account/support_callusIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 30px;
        width: 30px;
        background-position: center center; 
        cursor:pointer;       
    }
    
    .mailUsIcon
    {
        max-width:100%;
        max-height:100%;         
        background-image:url('../Styles/Images/account/support_mailusIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 30px;
        width: 30px;
        background-position: center center; 
        cursor:pointer;       
    }
    
    .startChatIcon
    {
        max-width:100%;
        max-height:100%;         
        background-image:url('../Styles/Images/account/support_startchatIcon.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* display: block; */
        margin: auto;
        height: 30px;
        width: 30px;
        background-position: center center; 
        cursor:pointer;       
    }
    
    .iconTitle
    {
        color:#afafaf;
        font-weight:bolder;
    }
    
    .settingAccountCover
    {
        float:left;
        margin: auto;
        height: 35px;
        width: 31px;
        cursor: pointer;
        text-align:center;
        width:50%;
    }
    
    .settingAccountPicture
    {
        float:left;
        margin: auto;
        height: 35px;
        width: 31px;
        cursor: pointer;
        text-align:center;
        width:50%;
    }
    
    .statusIcon
    {
        border-radius: 50%;
        width:12px;
        height:12px;
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    }
    
    .recieveMessage
    {
        border-radius: 50%;
        width: 12px;
        height: 10px;
        /* margin: auto; */
        padding: 2px 0px 6px 6px;
        font-size: 10px;
        /* font-weight: bold; */
        color: #fff;
        /* display: block; */
        background-position: center center;
    }
    
    .sendingMessage
    {
        background-image:url('../Styles/Images/account/chat_sendingMessageIcon.png');
        /*width: 100%; */
        /* height: 10px; */
        padding: 4px 0px 6px 6px;
        font-size: 10px;
        color: #fff;
        /* background-position: center center; */
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 5px;
    }
    
    .readMessage
    {
        background-image:url('../Styles/Images/account/chat_readMessageIcon.png');
        /*width: 100%; */
        /* height: 10px; */
        padding: 4px 0px 6px 6px;
        font-size: 10px;
        color: #fff;
        /* background-position: center center; */
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 5px;
    }
    
    .online
    {
        background:#85cc50;
    }
    
    .offline
    {
        background:#d11e4c;
    }
    
    /*end main Content */
    
    /*start content footer */
    .footerbackupORIGINAL
    {
        position: fixed;
        bottom: 0px;
        height: 10%;
        margin-top: 60px;
        padding: 5px;
        width: 100%;
        background-color: #fff;
        /*overflow: auto;*/
    }  
    
    .footer
    {
        position: fixed;
        bottom: 0px;
        height: 50px;
        padding: 0px 0px 5px 0px;
        width: 100%;
        background-color: #fff;  
    }
    
    .footer a
    {
        float: left;
        width: 20%;
        text-align: center;
        padding: 5px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 32px;        
    }
    
    .footerSetting
    {
        position: fixed;
        bottom: 0px;
        margin-top: 60px;
        padding: 5px;
        width: 100%;
        background-color: #fff;
        text-align:center;
        margin-bottom:20px;
    }    
    
    .footerLogoSupport
    {
        width:20%;
    }
    
    .footerLogoSetting
    {
        width:40%;
    }
    
    .footerSupport
    {
        position: fixed;
        bottom: 0px;
        margin-top: 60px;
        padding: 5px;
        width: 100%;
        background-color: #fff;
        text-align:center;
        margin-bottom:20px
    }    
    
    /*end content footer */

/*}*/

/*@media only screen and (min-width: 340px) {
    /*form phone*/
    .container
    {
        width:100%;
        height:100%;
        font-size:12px;
    }
    
    /*start content header */
    .header
    {
        position: fixed;
        top: 0px;
        /* bottom: 0px; */
        z-index: 9999;
        padding-top: 5px;
        height: 45px;
        width : 100%;
        background-color:#063058;
    }
    
    .headerBar
    {
        color : White;
    }
    
    .logoOnstore
    {
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        height: 40px;
        margin-top: -38px;
    }
    .logoOnstore.fixed
    {
        background-size: 140px 34px;
        height: 40px;
    } 
    
    /*end content header */
    
    /*start main Content */
    .body
    {
        
        height: 80%; 
        width: 100%; 
        margin-top: 5px; 
         
    }
    .bodyHeader
    {
        width : 100%;
        height: 10%;
        overflow: auto;
        margin-left: -8px;
        margin-top:50px;
    }
    
    .bodyHeader a
    {
        float: left;
        width: 30%;
        text-align: center;
        padding: 5px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 32px;        
    }
    
    .searchContainer
    {
        padding-left: 40px;
        margin-right: 70px;
        position:relative;
    }
    .searchContainer.fixed
    {
        padding-left: 0px;
        margin-right: 105px;
    }
    .searchContainer .searchContainerText
    {
        margin-right: 0px;
        height: 28px;
        margin-top: 10px;
    }
    .searchContainer .searchContainerText #txtSearch
    {
        width: 100%;
        height: 28px;
        border: solid 1px #515151;
        padding-left: 5px;
        padding-right: 35px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .searchContainer .searchContainerButton
    {
        position:absolute;
        right:0px;
        width: 30px;
        height: 28px;
    }
    .searchContainer .searchContainerButton #btnSearch
    {
        width: 28px;
        height: 24px;
        border: none;
        background-image: url('https://images.onstore.co.id/images/newDesign/searchSymbol_small.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
        background-size: 15px 15px;
        margin-top: 4px;
        margin-left: 37px;
    }

    .bodyMainContent
    {
        margin-top:10px;
        padding-left: 10px;
        margin-bottom: 170px;
    }
    
    .contentImage
    {
        background-color: gray;
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }
    
    /*end main Content */
    
    /*start content footer */
    .footer
    {
        position: fixed;
        bottom: 0px;
        height: 50px;
        padding: 0px 0px 5px 0px;
        width: 100%;
        background-color: #fff;  
    }  
    
    .footer a
    {
        float: left;
        width: 20%;
        text-align: center;
        padding: 5px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 32px;        
    }
/*}*/

@media only screen and (min-width: 140px) {
    /*form phone*/
    .container
    {
        width:100%;
        height:100%;
        font-size:12px;
    }
    
    /*start content header */
    .header
    {
        position: fixed;
        top: 0px;
        /* bottom: 0px; */
        z-index: 9999;
        padding-top: 5px;
        height: 45px;
        width : 100%;
        background-color:#063058;
    }
    
    .headerBar
    {
        color : White;
    }
    
    .logoOnstore
    {
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        height: 40px;
        margin-top: -38px;
    }
    .logoOnstore.fixed
    {
        background-size: 140px 34px;
        height: 40px;
    } 
    
    /*end content header */
    
    /*start main Content */
    .body
    {
        
        height: 80%; 
        width: 100%; 
        margin-top: 5px; 
         
    }
    .bodyHeader
    {
        width : 100%;
        height: 10%;
        overflow: auto;
        margin-left: -8px;
        margin-top:50px;
    }
    
    .bodyHeader a
    {
        float: left;
        width: 33%;
        text-align: center;
        padding: 5px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 32px;        
    }
    
    .searchContainer
    {
        padding-left: 40px;
        margin-right: 70px;
        position:relative;
    }
    .searchContainer.fixed
    {
        padding-left: 0px;
        margin-right: 105px;
    }
    .searchContainer .searchContainerText
    {
        margin-right: 0px;
        height: 28px;
        margin-top: 10px;
    }
    .searchContainer .searchContainerText #txtSearch
    {
        width: 100%;
        height: 28px;
        border: solid 1px #515151;
        padding-left: 5px;
        padding-right: 35px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .searchContainer .searchContainerButton
    {
        position:absolute;
        right:0px;
        width: 30px;
        height: 28px;
    }
    .searchContainer .searchContainerButton #btnSearch
    {
        width: 28px;
        height: 24px;
        border: none;
        background-image: url('https://images.onstore.co.id/images/newDesign/searchSymbol_small.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
        background-size: 15px 15px;
        margin-top: 5px;
        margin-left: 37px;
    }
    
    .contentAbout
    {
        text-align:center;
        margin-top: 35px;
        padding: 0px 10px 0px 10px;
    }

    .bodyMainContent
    {
        margin-top:20px;
        padding-left: 10px;
        margin-bottom: 170px;
    }
    
    .bodyMainContentSetting
    {
        margin-top:40px;
        padding-left: 10px;
    }
    
    .bodyMainContentSupport
    {
        margin-top:130px;
        padding-left: 10px;
        text-align:center;
    }
    
    .bodyMainContentAbout
    {
        margin-top:130px;
        padding-left: 10px;
        text-align:center;
    }
    
    .bodyMainContentSharing
    {
        margin-top: 130px;
        text-align: center;
    }
    
    .iconLogoSharing
    {
        width: 25%;
        /* height: auto; */
        max-width: 100px;
    }
    
    .contentImage
    {
        background-color: gray;
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }
    
    /*end main Content */
    
    /*start content footer */
    .footer
    {
        position: fixed;
        bottom: 0px;
        height: 50px;
        padding: 0px 0px 5px 0px;
        width: 100%;
        background-color: #fff;  
    }
    
    .footer a
    {
        float: left;
        width: 20%;
        text-align: center;
        padding: 5px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 32px;        
    }
}